@charset "utf-8";

/* Breakpoints */
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1216px;
$breakpoint-fullhd: 1408px;

/* Colors */
$border-color: #dbdbdb;
$link-color: #3273dc;
$white: #fff;

/* Layout */
$gap: 1.5rem;

/* Calendar */
.cal-container {
  position: relative;
}

/* Navigation */
.cal-prev, .cal-next {
  position: absolute;
  top: .5rem;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  min-width: 2rem;
  height: 2rem;
  overflow: hidden;
  svg {
    width: 1rem;
    color: $link-color;
  }
}
.cal-prev {
  left: .5rem;
  cursor: pointer;
}

.cal-next {
  right: .5rem;
  cursor: pointer;
}
