@charset "utf-8";

/* Breakpoints */
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1216px;
$breakpoint-fullhd: 1408px;

/* Colors */
$font-color: #494949;
$border-color: #fff; // #dbdbdb;
$link-color: #cacaca;
$white: #fff;

/* Fonts */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif;
  color: $font-color;
  font-size: 1rem;
  line-height: 1.5;
}

/* Layout */
$gap: 1.5rem;

/* Calendar */
.cal-container {
  position: relative;
}

.cal-container.single {
  min-width: 20rem;
  max-width: 25rem;
}

.cal-container.multiple {
  min-width: 63rem;
  max-width: 78rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  .cal-month {
    flex: 0 0 calc((1/3 * 100%) - ($gap * 2 / 3));
    margin-bottom: $gap;
    margin-left: $gap;
    &:nth-child(3n+3) {
      margin-left: 0;
    }
  }
}

.cal-container.months-2 {
  min-width: 41.5rem;
  max-width: 51.5rem;
  .cal-month {
    flex: 0 0 calc((50%) - ($gap / 2));
  }
}

.cal-month {
  box-shadow: 0 0.5rem 1rem -0.125rem rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.cal-month-title {
  font-size: 1.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  border: 1px solid $border-color;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  select {
    font-size: 1.25rem;
  }
}

/* Navigation */
.cal-prev, .cal-next {
  cursor: pointer;
  position: absolute;
  top: .75rem;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  width: 1.25rem;
  height: 1.25rem;
  overflow: hidden;
  svg {
    width: 1.25rem;
    height: 1.25rem;
    color: $link-color;
  }
  &:hover {
    svg {
      color: $font-color
    }
  }
}
.cal-prev {
  left: 1.125rem;
}

.cal-next {
  right: 1.125rem;
}

.cal-week, .cal-weekdays {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-right: 1px solid $border-color;
}

.cal-day, .cal-weekday {
  flex: 0 0 calc((1/7 * 100%) - 1px);
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  line-height: 2.5rem;
  height: 2.5rem;
}

.cal-weekday {
  text-transform: uppercase;
  font-size: .75rem;
}
